@tailwind base;

@font-face {
  font-family: Libertinus Sans;
  font-weight: 400;
  src: url(../static/fonts/LibertinusSerif-Regular.woff2) format("woff2");
}

* {
  font-family: Libertinus Sans;
  /* font-size: 18px; */
}

body {
  /* background-color: #ffffff; */
}

ul, ol, dd, dl, dt {
  font-family: Libertinus Sans;
}

dd {
  margin: 0 0 2rem 2rem;
}

p {
  font-family: Libertinus Sans;
  padding-bottom: 1rem;
}


@tailwind components;
@tailwind utilities;